.heading-center{
    color: darkred;
    text-align: center;
}
.heading{
    color: blue;
    align-items: center;
    text-align: center;
}
.div-hai{
    display: flex;
    height:200px ;
    justify-content: flex-start;
}
.div-hai-mot{
    width: 49.5%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.div-hai-hai{
    width: 49.5%;
    height: 100%;
}
.div-ba{
    display: flex;
    height:400px ;
    justify-content: flex-start;
}
.div-ba-mot{
    width: 49.5%;
    height: 100%;
}
.div-ba-hai{
    width: 49.5%;
    height: auto;
}
